{{ define "main" }}
<section class="list-content">
    <h1>{{ .Title }}</h1>
    {{ with .Content }}
    <div class="section-intro">{{ . }}</div>
    {{ end }}
    {{ if .Data.Singular }}
    <h3 class="blog-filter">{{ i18n "filtering-for" }} "{{ .Title }}"</h3>
    {{ end }}

    {{ if .Pages }}
    <ul class="blog-posts">
        {{ range where .Pages "Params.unlisted" "!=" true }}
        <li>
            <span>
                <i>
                    <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
                        {{ .Date.Format (default "2006-01-02"
                        .Site.Params.dateFormat) }}
                    </time>
                </i>
            </span>
            {{ if .Params.link }}
            <a href="{{ .Params.link }}" target="_blank">{{ .Title }} ↪</a>
            {{ else }}
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{ end }}
        </li>
        {{ end }}
    </ul>
    {{ end }}
    {{ if and (not .Data.Singular) (eq .Section "blog") }}
    <div>
        {{ range .Site.Taxonomies.tags }}
        <a class="blog-tags" href="{{ .Page.RelPermalink }}">#{{ lower .Page.Title }}</a>
        {{ end }}
    </div>
    {{ end }}
</section>
{{ end }}
