{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ if or (not .Date.IsZero) .Params.author }}<p class="byline">
    {{ if not .Date.IsZero }}
    <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
        {{ .Date.Format (default "2006-01-02" (or .Site.Params.dateFormat "")) }}
    </time>
    {{ end }}
    {{ with .Params.author }}{{ if not $.Date.IsZero }}· {{ end }}{{ $.Site.Params.author.name }}{{ end }}
</p>
{{ end }}

<article class="{{ if eq .File.BaseFileName "phone-cooler" }}phone-cooler-post{{ end }}"> {{ .Content }} </article>

{{ with .GetTerms "tags" }}
<p>
    {{ range . }}
    <a class="blog-tags" href="{{ .RelPermalink }}">#{{ lower .LinkTitle }}</a>
    {{ end }}
</p>
{{ end }}

{{ if not .Params.hideReply }}
{{ with .Site.Params.author.email }}
<p>
    <a href='mailto:{{ . }}?subject={{ printf "%s%s" (i18n "email-subject") (default $.Site.Title $.Page.Title) | urlquery }}'>
        {{ i18n "email-reply" }} ↪
    </a>
</p>
{{ end }}
{{ end }}
{{ end }}
