{{- $width := index .Attributes "width" -}}
{{- $height := index .Attributes "height" -}}
{{- $loading := default "lazy" (index .Attributes "loading") -}}
{{- $decoding := default "async" (index .Attributes "decoding") -}}
{{- $fetchpriority := index .Attributes "fetchpriority" -}}
<img src="{{ .Destination | safeURL }}"
  {{- with .PlainText }} alt="{{ . }}"{{ end -}}
  {{- with .Title }} title="{{ . }}"{{ end -}}
  {{- with $width }} width="{{ . }}"{{ end -}}
  {{- with $height }} height="{{ . }}"{{ end -}}
  loading="{{ $loading }}"
  decoding="{{ $decoding }}"
  {{- with $fetchpriority }} fetchpriority="{{ . }}"{{ end -}}
>
{{- /* chomp trailing newline */ -}}
